@import "tailwindcss";

/* give html and body and root full height */
html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-top,
.leaflet-control,
.leaflet-pane {
  z-index: 0 !important;
}

.rdrMonth{
  width: 100% !important;
}

.rdrCalendarWrapper{
  width: 100% !important;
}
